* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Navbar ======================================================================================> */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 1rem 5rem;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Logo styles */
.navbar-logo {
  display: flex;
  align-items: center;
  font-weight: bolder;
}

.company-logo {
  height: 50px;
  margin-right: 10px;
}

/* Button styles */
.navbar-button {
  padding: 0.8rem 1.8rem;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.2rem;
}

.request-btn {
  background-color: #000000;
  color: white;
  border: white solid 1px;
  font-weight: 600;
}
.sign-in-btn {
  background-color: #4c5fd5;
  color: white;
}

.sign-in-btn:hover {
  background-color: #fff;
  color: black;
}

/* Help Center text styles */
.navbar-help-center {
  margin-left: 0.5rem;
  cursor: pointer;
}

.navbar-help-center:hover {
  text-decoration: underline;
}

.abstract {
  cursor: pointer;
  margin-right: 0.5rem;
}

/* Main Section =========================================================================>*/
.articles-container {
  padding: 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 3rem;
}
article {
  max-width: 40%;
}
.article-logo {
  height: 50px;
  float: left;
  padding: 0.4rem;
}

article a {
  margin-left: 4rem;
}

/* Footer Section =========================================================================>*/
footer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 4rem 3rem;
  background-color: #000000;
  color: white;
}

footer ul li {
  list-style: none;
  color: white;
  padding: 0.2rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.contact {
  margin-top: 2rem;
}

.copyright {
  align-self: self-end;
}
